html,
body {
  background-image: url("./pictures/background\ About\ me2.png");
  background-size: 100% 100% ;
  background-repeat: no-repeat;
  background-color: rgb(80, 84, 82);
  height: auto;
}

.bluelink {
  color: lightblue;
}

.redlink {
  color: red;
}

.greenlink {
  color: greenyellow;
}

a:hover {
  text-decoration: none;
}

h5,
p{
  color: white;
}

h3 {
  color: red;
}


h4 {
  color: white;
}

.spacing {
  margin-left: 20%;
  margin-right: 20%;
}

.aboutmetext {
  margin-top: 2%;
}

.bordertext{
  box-shadow: 0px 0px 10px 10px rgba(150, 150, 150, 0.2);
}