html,
body {
  background-image: url("./pictures/background home.png");
  background-size: 100% 100% ;
  background-repeat: no-repeat;
  background-color: rgb(80, 84, 82);
  height: auto;
}

.bluelink {
  color: lightblue;
}

.redlink {
  color: red;
}

.greenlink {
  color: greenyellow;
}

a:hover {
  text-decoration: none;
}

h3 {
  color: lightblue;
}

h5 {
  color: wheat;
}

h2{
  color: black;
}

h4 {
  color: white;
}

.Animatedtext h2 {
  margin-left: 29%;
  margin-top: 5%;
  position: absolute;
  font-size: 3vw;
  color: #999;
  font-weight: 700;
  transition: 0.5s;
}

.spacing {
  margin-left: 20%;
  margin-right: 20%;
}

.hometext {
  margin-top: 18%;
  
}