html,
body {
  background-image: url("./pictures/background home.png");
  background-size: 100% 100vh ;
  background-repeat: no-repeat;
  background-color: rgb(80, 84, 82);
  height: auto;
}

.bluelink {
  color: lightblue;
}

.redlink {
  color: red;
}

.yellowlink {
  color: yellow;
}

.greenlink {
  color: greenyellow;
}

a:hover {
  text-decoration: none;
}

img {
  margin-bottom: 10%;
}

h3 {
  color: lightblue;
}

h5,
h2 {
  color: wheat;
}

h4 {
  color: white;
}

video {
  margin-left: 27%;
  width: 50%;
  margin-top: 5%;
  position: absolute;
}

.spacing {
  margin-left: 20%;
  margin-right: 20%;
}

.hometext {
  margin-top: 18%;
}