html,
body {
  background-image: url("./pictures/background\ Projects2.png");
  background-size: 100% 100% ;
  background-repeat: no-repeat;
  background-color: rgb(182, 99, 30);
  height: auto;
}

.bluelink {
  color: lightblue;
}

.redlink {
  color: red;
} 

.goldlink {
  color: goldenrod;
}

a:hover {
  text-decoration: none;
}

h3 {
  color: goldenrod;
}

h5 {
  color: white;
}

.spacing {
  margin-left: 20%;
  margin-right: 20%;
}

.projectstext {
  margin-top: 2%;
}

.textborder{
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.2);
}