html,
body {
  background-image: url("./pictures/background\ Projects2.png");
  background-size: 100% 100% ;
  background-repeat: no-repeat;
  background-color: rgb(182, 99, 30);
  min-height: 100vh;
}

h5
{
    color: white;
}

.Home
{
    margin-left: -2%;
}

.AboutMe
{
   margin-left: 35%;
}

.Projects
{
    margin-left: 70%;
}

.menu {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  transition: 1s;
  overflow: hidden;
  text-decoration: none;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, rgb(0, 0, 0, 0.3));
}

.menu:hover
{
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 60px var(--clr),
    0 0 100px var(--clr);
}

.menu::before
{
    content:'';
    position: absolute;
    width: 30px;
    height: 400%;
    background: var(--clr);
    transition: 1s;
    animation: animate 5s linear infinite;
}

.menu::after
{
    content:'';
    position: absolute;
    inset: 4px;
    background: rgb(0, 0, 0);
}

.menu:hover::before
{
    width: 120%;
}

.menu:hover::after
{
    background: var(--clr);
}

.menu span
{
    position: relative;
    z-index: 1;
    font-size: 3vb;
    color: beige;
    opacity: 0.5;
    transition: 0.5s;
}

.menu:hover span
{
    opacity: 1;
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.spacing {
  margin-left: 30%;
  margin-right: 32%;
}

@media (max-width: 1300px)
{
    .menu span
    {
        font-size: 2vw;
    }
}

@media (max-width: 1200px)
{
    .spacing
    {
        margin-left: 30%;
        margin-right: 30%;
    }
    .menu::before
    {
        width: 10px;
    }
}

@media (max-width: 1500px)
{
    .menu
    {
      padding: 5px 15px;
    }
}


@media (max-width: 600px)
{
  .spacing
  {
    margin-left: 27%;
    margin-right: 30%;
  }
  .menu::after
  {
      inset: 1px;
  }
  .menu 
  {
    padding: 5px 10px;
  }
}

.projects
{
  box-shadow: 0px 0px 1000px 1px rgb(0, 0, 0);
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
  transition: 0.5s;
  text-decoration: none;
}

p
{
  text-decoration: none;
  color: white;
  font-size: 2vmax;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);
  padding: 10px;
  display: inline-block;
  background-color: rgb(0, 0, 0, 0.3);
  border-radius: 100px;
}

img
{
  border-radius: 10px;
  margin-left: 13%;
  width: 600px;
  max-width: 100%;
  height: auto;
  margin-bottom: 2%;
  box-shadow: 0px 2px 9px 10px rgba(0, 0, 0, 0.3);
}

.image
{
  margin-top: 2%;
}

.green:hover
{
  background-color:rgba(0, 231, 0, 0.4);
  transition: 0.5s;
}

.red:hover
{
  background-color: rgba(255, 0, 0, 0.4);
  transition: 0.5s;
}

.blue:hover
{
  background-color: rgba(100, 115, 255, 0.6);
  transition: 0.5s;
}

.purple:hover
{
  background-color: rgba(61, 0, 111, 0.6);
  transition: 0.5s;
}

.white:hover
{
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}

.padding 
{
  top: 1000000%;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.projectText {
  position:absolute;
  margin: 0;
  padding: 5%;
  width: 50%;
}